@model NewDawn.Models.Comodidades

@{
    ViewData["Title"] = "Detalles de la Comodidad";
}

<h1 class="text-uppercase text-primary">Detalles de la Comodidad</h1>

<div class="card p-3 shadow-sm">
    <h4>Información General</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.NombreComodidades)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NombreComodidades)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.DescripcionComodidad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DescripcionComodidad)
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.EstadoComodidad)
        </dt>
        <dd class="col-sm-9">
            @(Model.EstadoComodidad ? "Activo" : "Inactivo")
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.IdComodidades" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>