@model NewDawn.Models.Reserva

@{
    ViewData["Title"] = "Editar Reserva";
    var habitaciones = ViewBag.Habitaciones as List<Habitacion>;
    var paquetes = ViewBag.Paquetes as List<SelectListItem>;
    var servicios = ViewBag.Servicios as List<Servicio>;
}

<h1>@ViewData["Title"]</h1>

<h4>Reserva</h4>
<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Idreserva" />

    <div class="form-group">
        <label asp-for="FechaComienzo" class="control-label"></label>
        <input asp-for="FechaComienzo" class="form-control" type="date" />
        <span asp-validation-for="FechaComienzo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaFin" class="control-label"></label>
        <input asp-for="FechaFin" class="form-control" type="date" />
        <span asp-validation-for="FechaFin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="idPaquete">Paquete</label>
        @Html.DropDownListFor(
                 model => model.Idpaquete,                             // propiedad del modelo
                 (SelectList)ViewBag.Paquetes,                         // lista de opciones
                 "-- Seleccione un paquete --",                        // opción por defecto
                 new { @class = "form-control", id = "idPaquete" }     // atributos HTML
                 )
    </div>


    <div class="form-group">
        <label>Habitaciones</label>
        @foreach (var hab in habitaciones)
        {
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       name="habitacionesSeleccionadas"
                       value="@hab.Idhabitacion"
                @(Model.HabitacionReservas.Any(hr => hr.Idhabitacion == hab.Idhabitacion) ? "checked" : "") />
                <label class="form-check-label">@hab.Idhabitacion</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label>Servicios</label>
        @foreach (var serv in servicios)
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       name="serviciosSeleccionados"
                       value="@serv.Idservicio"
                @(Model.ReservaServicios.Any(rs => rs.Idservicio == serv.Idservicio) ? "checked" : "") />

                <label class="form-check-label">@serv.NombreServicio</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

