@model IEnumerable<NewDawn.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Nueva Reserva
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Fecha de Reserva</th>
            <th>Fecha de Comienzo</th>
            <th>Fecha de Fin</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.FechaReserva</td>
                <td>@reserva.FechaComienzo</td>
                <td>@reserva.FechaFin</td>
                <td>@(reserva.EstadoReserva ? "Activo" : "Inactivo")</td>
                <td>
                    <a href="@Url.Action("Details", "Reservas", new { id = reserva.Idreserva })" class="btn btn-info">Detalles</a>
                    <a href="@Url.Action("Edit", "Reservas", new { id = reserva.Idreserva })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", "Reservas", new { id = reserva.Idreserva })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
