@model IEnumerable<NewDawn.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaComienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdhabitacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpaqueteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdhabitacionNavigation.Idhabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpagoNavigation.Idpago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpaqueteNavigation.Idpaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Idusuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idreserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idreserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idreserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
