@model IEnumerable<NewDawn.Models.Reserva>

@{
    ViewData["Title"] = "Listado de Reservas";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Reservas</h3>
        <div class="card-tools">
            <!-- Botón de Crear reserva -->
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Crear Nueva Reserva
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha de Reserva</th>
                    <th>Usuario</th>
                    <th>Paquete</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reserva in Model)
                {
                    <tr>
                        <td>@reserva.Idreserva</td>
                        <td>@reserva.FechaReserva.ToString("dd/MM/yyyy")</td>
                        <td>@reserva.IdusuarioNavigation?.NombreUsuario @reserva.IdusuarioNavigation?.Apellido</td>
                        <td>@reserva.IdpaqueteNavigation?.NombrePaquete</td>
                        <td>@(reserva.EstadoReserva ? "Activa" : "Cancelada")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@reserva.Idreserva" class="btn btn-info">
                                <i class="fas fa-eye"></i> Ver
                            </a>
                            <a asp-action="Edit" asp-route-id="@reserva.Idreserva" class="btn btn-warning">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a asp-action="Delete" asp-route-id="@reserva.Idreserva" class="btn btn-danger">
                                <i class="fas fa-edit"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
