@model IEnumerable<NewDawn.Models.Rol>

@{
    ViewData["Title"] = "Roles";
}

<head>
    <link rel="stylesheet" href="~/css/roles/index.css">
</head>

<div class="contenedor-principal">
    <div class="encabezado-formulario">
        <h1 class="titulo-formulario">Lista de Roles</h1>
    </div>

    <div class="formulario-botones mb-3">
        <a asp-action="Create" class="boton boton-azul">Crear Nuevo</a>
    </div>

    <div class="tabla-permisos">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NombreRol)</th>
                    <th>@Html.DisplayNameFor(model => model.EstadoRol)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NombreRol)</td>
                        <td>@(item.EstadoRol ? "Activo" : "Inactivo")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Idrol">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Idrol">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Idrol">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
