@model NewDawn.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAbono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAbono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAbono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAbono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdusuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdusuarioNavigation.Idusuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idpago">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
