@model IEnumerable<NewDawn.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Idusuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpago">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpago">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpago">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
